
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Work+Sans:ital,wght@0,700;1,600&display=swap');

  *{
   
font-family: 'Work Sans', sans-serif;
  }
  header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

  }
  nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  nav>ul{
    display: flex;
   
   
  }
  nav li{
    list-style: none;
  margin-right: 30px;
    font-size: 1rem;
font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  .nav-title{
color:#131313;
font-size: 25px;

  }
  /*

 
  }*/
  .banner-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center
  }
  .btn-primary{
    border-radius: 8px;
background: #FF900E;
border: none;
color: #FFF;

width: 180px;
height: 64px;
font-size: 20px;
font-style: normal;
font-weight: 600;}
.banner-description{
    color: var(--dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;

  }
  .banner-title{
    color: var(--dark-01, #131313);
text-align: center;
font-family: Work Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .banner-img{
    margin-top: 20px;
    max-width: 100%;
  }
.team-container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   margin: 40px 10px 60px 100px ;
}
.content-title{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.content-description{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.fact-title{
    color: var(--dark-01, #131313);
font-size: 45px;
font-style: normal;
font-weight: 700;
margin-left: 140px;

}
.fact-description{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-left: 140px;
margin-top: opx;
}
.card-container{
    display: flex;
    justify-content: space-around;
    
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    
}
.card-title{
    color: #424242;
font-family: Work Sans;
font-size: 25px;
font-weight: 600;

}
.card-description{
    color:#727272;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.sp-title{
    color:#131313;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.sp-des{
    color: var(--dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sp-img{
    display: flex;
    justify-content: space-around;
}
.features{
  display: flex;
}
.section-title{
  color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-light-gray{
  color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.feature-content{
  margin: 90px;
}
.card{
  margin-top: 20px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
  width: 300px;
height: 200px;
flex-shrink: 0;
border-radius: 8px;
background: #FF900E;
position: relative;
bottom: 150px;
}
.ten-years-badge h2{
  color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 107.692% */
padding-top: 42px;
}
.exp{
  text-align:center;
  font-family: Work Sans;
  color: #FFF;
  font-size: 20px;
  font-weight: 600px;
  font-style: normal;
  padding-bottom: 100%px;
 
}









  /*Responsive media queries-for mobile*/
  @media screen and (max-width:576px) {
   
    header{
        padding: 5px;
    }
    nav{
       flex-direction: column;
    }
    .team-container{
        display: flex;
        flex-direction: column;
      
        
  }
  .team-container img{
    width: 70%;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
   
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 50%;
height: 60%;
    }
    .sp-container{
        height: 50%;
        width: 70%;
        text-align: center;
       }
       .sp-img{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sp-img img{
        height: 50%;
        width: 50%;
    }
  }
   /*Responsive media queries-for medium device*/
   @media screen and (min-width:576px) and (max-width:960px) {
    
    header{
        padding: 70px;
        
    }
    nav{
        flex-direction: column;
     }
     .team-container{
        display: flex;
        flex-direction: column;
       padding: 4px;
        
    }
    .team-container img{
        width: 80%;
      }
      .team-content{
        width: 30%;
        height: 50%;
      }
      .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
       
    }
    .card{
        border: 1px solid #FF900E;
        border-radius: 8px;
        text-align: center;
        width: 30%;
        height: 40%;
        }
       .sp-container{
        height: 50%;
        width: 70%;
        text-align: center;
       }
       .sp-img{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sp-img img{
        height: 50%;
        width: 50%;
    }
    .fact-container{
        height: 50%;
        width: 70%;
    }
    
   }
